/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

/* Global font family setting */
body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}


.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    transition: margin-left 0.3s ease;
    
    /* protect to drag */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.App.sidebar-open {
    margin-left: 15.5rem;
}

.content {
    flex-grow: 1;
    margin-top: 5rem;
    padding: 1.875rem;
    transition: margin-left 0.3s ease;
}
